/* Google Poppins */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Google Poppins */

/* AvenirNextLtp font classes */
.avenirNextLTPro-regular {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.avenirNextLTPro-it {
  font-family: "AvenirNextLTPro-lt", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.avenirNextLTPro-bold {
  font-family: "AvenirNextLTPro-Bold", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/* AvenirNextLtp classes */

/* Switzer Font Classes */
.switzer-thin {
  font-family: "Switzer-Thin", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.switzer-thin-italic {
  font-family: "Switzer-ThinItalic", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.switzer-extralight {
  font-family: "Switzer-Extralight", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.switzer-extralight-italic {
  font-family: "Switzer-ExtralightItalic", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.switzer-light {
  font-family: "Switzer-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.switzer-light-italic {
  font-family: "Switzer-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.switzer-regular {
  font-family: "Switzer-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.switzer-italic {
  font-family: "Switzer-Italic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.switzer-medium {
  font-family: "Switzer-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.switzer-medium-italic {
  font-family: "Switzer-MediumItalic", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.switzer-semibold {
  font-family: "Switzer-Semibold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.switzer-semibold-italic {
  font-family: "Switzer-SemiboldItalic", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.switzer-bold {
  font-family: "Switzer-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.switzer-bold-italic {
  font-family: "Switzer-BoldItalic", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.switzer-extrabold {
  font-family: "Switzer-Extrabold", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.switzer-extrabold-italic {
  font-family: "Switzer-ExtraboldItalic", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.switzer-black {
  font-family: "Switzer-Black", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.switzer-black-italic {
  font-family: "Switzer-BlackItalic", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Boska Font Classes */
.boska-extralight {
  font-family: "Boska-Extralight", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.boska-extralight-italic {
  font-family: "Boska-Extralight", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.boska-light {
  font-family: "Boska-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.boska-light-italic {
  font-family: "Boska-Light", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.boska-regular {
  font-family: "Boska-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boska-italic {
  font-family: "Boska-Italic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.boska-medium {
  font-family: "Boska-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.boska-medium-italic {
  font-family: "Boska-Medium", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.boska-bold {
  font-family: "Boska-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.boska-bold-italic {
  font-family: "Boska-Bold", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.boska-black {
  font-family: "Boska-Black", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.boska-black-italic {
  font-family: "Boska-Black", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Boska Variable Font Classes */
.boska-variable {
  font-family: "Boska-Variable", sans-serif;
  font-variation-settings: "wght" 200;
  font-style: normal;
}

.boska-variable-italic {
  font-family: "Boska-VariableItalic", sans-serif;
  font-variation-settings: "wght" 200;
  font-style: italic;
}
