/* Header & Navbar Section */
.header__and__navbar {
  min-height: 100vh;
}
.iconic__section {
  background-color: var(--dark__teal-color);
  position: relative;
  z-index: 1;
}
.iconic__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/bg-element.png);
  background-size: 250px 250px;
  background-repeat: repeat;
  opacity: 15%;
  z-index: -1;
}

.header__section {
  padding: 30px 0px;
}
/* Header & Navbar Section */

/* Navbar  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
}
.nav .logo__in__navbar {
  display: flex;
  align-items: center;
  gap: 6px;
}
.nav .logo__in__navbar span {
  color: var(--light__green-color);
  font-family: boska-regular;
  font-size: 1.75rem;
}
.nav ul li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2em;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: switzer-light;
  font-size: 18px;
}

/* Navbar  */

/* Hero Section */
.hero__section {
  position: relative;
  z-index: 1;
}
.circle__dashed__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/circle-line.svg);
  background-repeat: no-repeat;
  background-size: 60% !important;
  background-position: center;
  opacity: 1;
  background-size: contain;
  z-index: -1;
}
.circle__dashed__line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/circle-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30% !important;
  opacity: 1;
  background-size: contain;
  z-index: -1;
}

.hero__typography {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-block: 40px;
  gap: 20px 0px;
}

.cosy {
  grid-column: span 12;
  font-size: 262px;
  font-weight: 400;
  line-height: 161.76px;
  text-align: center;
  color: white;
}
.cabin {
  grid-row-start: 2;
  grid-column-start: 6;
  grid-column-end: 9;
  color: var(--light__green-color);
  font-size: 262px;
  font-style: italic;
  font-weight: 400;
  line-height: 185.55px;
  text-align: center;
}
.in__the {
  grid-column-start: 7;
  margin-bottom: -50px;
  font-size: 32px;
  font-family: boska-variable;
  font-weight: 600;
  line-height: 41.6px;
  text-align: center;
  color: white;
}
.woods {
  grid-column: span 12;
  font-size: 262px;
  font-weight: 400;
  line-height: 161.76px;
  text-align: center;
  color: white;
}

.hero__description {
  max-width: 35rem;
  color: white;
  margin: 0 auto;
  font-family: switzer-variable;
  font-size: 17px;
  font-weight: 300;
  line-height: 23.76px;
  text-align: center;
  margin-top: 30px;
}
/* Hero Section */

/* showcase section */
.showcase__section {
  background-color: white;
  padding-block: 100px;
}

.showcase__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.text__base-section {
  grid-column-start: 1;
  grid-column: span 2;
}
.right__side-Section {
  grid-column-start: 4;
  grid-column-end: 6;
}

.text__base__typography {
  margin-top: 50px;
}

.text__base__typography p {
  font-family: switzer-variable;
  font-size: 20px;
  font-weight: 400;
  line-height: 31.68px;
}

.box__div__wrapper {
  display: grid;
  gap: 100px 0px;
}

.box__div__wrapper div p {
  color: var(--dark__teal-color);
  font-family: switzer-variable;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.68px;
  text-align: left;
}
.box__div__wrapper div h4 {
  color: var(--dark__teal-color);
  font-family: boska-variable;
  font-size: 100px;
  font-weight: 700;
  line-height: 130px;
  text-align: left;
  margin-top: -30px;
}
.showcase__box {
  display: flex;
  align-items: flex-end;
  gap: 0px 10px;
}
.showcase__box span {
  margin-bottom: 20px;
  font-family: switzer-variable;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.68px;
}
/* showcase section */

/* forest section */
.forest__trees {
  min-height: 100vh;
  height: 100%;
  background-image: url(/assets/images/forest.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* forest section */

/* Sign up section */
.sign__up {
  min-height: 90vh;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block: 100px;
}

.sign__up__insider {
  position: relative;
}

.sign__up__insider img {
  width: 1194px;
  height: 704px;
}

.sign__up__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
}
.sign__up__offer__text {
  margin: 0 auto;
  text-align: center;
}
.sign__up__offer__text h2 {
  font-family: boska-variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: center;
  color: white;
}
.sign__up__offer__text p {
  padding-block: 40px;
  max-width: 25rem;
  margin: 0 auto;
  font-family: switzer-variable;
  font-size: 18px;
  font-weight: 300;
  line-height: 23.76px;
  color: white;
}

.sign__up__form {
  position: relative;
}
.sign__up__form input {
  width: 550px;
  height: 60px;
  padding-inline-start: 10px;
  font-family: switzer-variable;
  font-weight: 400;
  line-height: 23.76px;
  text-align: left;
}

.sign__up__form input:focus {
  outline: none;
}

.sign__up__form button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 59px;
  width: 175px;
  background-color: var(--light__green-color);
  font-family: switzer-variable;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.76px;
  text-align: center;
  color: var(--dark__teal-color);
  border: none;
  outline: none;
}

/* Sign up section */

/* Get to know each other */
.get__to__know__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-content: center;
  align-items: center;
  gap: 0px 100px;

  padding-block: 100px;
}

.get__to__know__text {
  grid-column: span 5;
}

.get__to__know__text h2 {
  max-width: 44.4375rem;
  font-family: boska-variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: left;
}

.get__to__know__text p {
  font-family: switzer-variable;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: left;
  margin-top: 15px;
}

.lets__talk__btn {
  margin-top: 60px;
}

.link__section {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  min-height: 20rem;
}

.about__box {
  background-color: var(--light__green-color);
}
.same__box {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;

  position: relative;
}
.same__box div h2 {
  font-family: boska-variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: left;
}
.same__box div p {
  font-family: switzer-variable;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.12px;
  text-align: left;
}
.same__box div img {
  position: absolute;
  right: 40px;
  bottom: 50px;
}
.others__box {
  grid-column-start: 4;
  grid-column-end: 12;
  background-color: var(--dark__teal-color);
  color: white;

  display: flex;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.others__box h2 {
  font-family: boska-variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: left;
}
.others__box p {
  font-family: switzer-variable;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.12px;
  text-align: left;
}
.rooms {
  position: relative;
}
.rooms__heading {
  gap: 0px 20px;
}
.contact__heading {
  gap: 0px 20px;
}

/* Get to know each other */

/* Experience the magic of wilderness */
.experience__the__magic {
  background: #f9f9f9;
  padding-block: 70px;
}
.experience__the__magic__heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 0px 20px;
}
.experience__the__magic__heading h2 {
  font-family: boska-variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: left;
}
.experience__the__magic__heading p {
  font-family: switzer-variable;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: left;
}
.experience__grid__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 150px;
  margin-left: 355px;
}
.experience__grid__card {
  position: relative;
}

.experience__grid__card img {
  width: 378px;
  height: 477px;
}
.card__text__box {
  background-color: white;
  width: 426px;
  height: 152px;
  position: absolute;
  bottom: 10px;
  left: -70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.card__text__box::after {
  content: "";
  width: 100%;
  background-image: url(/assets/svg/gradient.svg);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4cqmin;
}
.card__text__box h6 {
  font-family: switzer-variable;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.12px;
  text-align: left;
}
.card__text__box p {
  font-family: switzer-variable;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.12px;
  text-align: left;
}

/* Experience the magic of wilderness */

/* our unique rooms */
.our__unique__rooms {
  padding-block: 70px;
}

.our__unique__rooms__heading h2 {
  max-width: 49rem;
  font-family: boska-variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: left;
}

.our__unique__rooms__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0px 20px;
  margin-top: 70px;
}
.our__unique__rooms__card img:nth-child(1) {
  width: 378px;
  height: 505.68px;
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 8;
}
.our__unique__rooms__card img:nth-child(3) {
  width: 378px;
  height: 505.68px;
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 8;
}
.our__unique__rooms__card img:nth-child(2) {
  width: 582px;
  height: 778.32px;
  grid-row-start: 1;
  grid-row-end: 12;
}
/* our unique rooms */

/* Footer section */
.footer__section {
  background-color: white;
  padding-block: 17px;
}
.footer__section nav ul {
  gap: 0px 50px;
}
.footer__section nav ul li {
  list-style: none;
}
.footer__section nav ul li a {
  text-decoration: none;
  color: black;
  font-family: switzer-variable;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
}
/* Footer section */
